.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url("https://source.unsplash.com/random");
    background-size: cover;
}

#center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

#clock {
    font-size: 80px;
    color: white;
    margin: 20px;
}

#login-form input {
    appearance: none;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

#login-form input:last-child {
    display: none;
}

.login-name::placeholder {
    color: white;
    font-size: 20px;
}

#quote {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    font-size: 10px;
    margin-top: 140px;
}

#quote span:first-child {
    margin-bottom: 10px;
    font-size: 14px;
}

#quote span:last-child {
    font-weight: 600;
}

#todo-form input {
    appearance: none;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
    margin-top: 0;
    width: 200px;
}

#todo-form input::placeholder {
    color: white;
}

#weather {
    color: white;
    position: relative;
    font-size: 8px;
}

#weather span:first-child {
    position: absolute;
    top: -570px;
    left: 610px;
}

#weather span:last-child {
    position: absolute;
    top: -590px;
    left: 610px;
    width: 50px;
}

#greeting {
    color: white;
    margin: 0 0 20px 0;
}

#todo-list {
    color: white;
}